body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(to bottom, #fffde7 0%, #ffecb3 100%);
}
img {
  display: block;
}
