.container {
  width: 100%;
  max-width: 1280px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .container {
    padding-left: 8px;
    padding-right: 8px;
  }
}
